registry=https://registry.npmmirror.com/
# puppeteer-skip-chromium-download=true
puppeteer-download-base-url=https://npm.taobao.org/mirrors/chrome-for-testing
puppeteer-download-host=https://npm.taobao.org/mirrors
